*{
	box-sizing: border-box;
	font-family: IranSans;
	margin:0;
	padding: 0;
}

html{
	font-size: 16px; /*is most default*/
}

body{
	background-color: #f1f1f1 !important;
}

a {
	text-decoration: none;
}

a:focus{
	outline: none;
}

a:active{
	opacity: 0.7;
	outline: none;
}

.App {
	font-size: 1rem;
  	text-align: center;
  	background-color: #f1f1f1;
}

.ant-breadcrumb{
	font-size: 1.15rem !important;
}

a.ant-breadcrumb-link{
	padding-bottom: 0.05rem !important;
	line-height: 2.5 !important;
	border-bottom: 0.01rem solid #0091EA;
}

::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #cacaca; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.ant-form-item-children-icon{
	left:10px !important;
}

.ant-form-item{
	margin-bottom: 0px !important;
}

.ant-notification-notice{
	text-align: right;
}

.ant-notification-notice-message{
	width: 85%;
}

.ant-spin-dot-item{
	height: 4rem !important;
	width: 4rem !important;
}

.Breadcrumb_con{
	width: 100%;
	display: flex;
	margin-bottom: 3rem;
	direction: rtl;
	padding: 0 7rem 0 2rem;
}

.dashboard_title{
	display: flex;
    text-align: right;
	direction: rtl;
	width: 100%;
	font-weight: 500;
	padding-top: 2rem;
	padding-right: 7rem;
	margin-bottom: 0.5rem;
	font-size: 2.5rem;
}

@media(max-width:768px){
	.dashboard_title{
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
		font-size: 2rem;
		padding-right: 0rem;
	}
	.Breadcrumb_con{
		padding: 0 2rem 1rem 2rem;
		margin-bottom: 1rem;
		justify-content: center;
	}
	.ant-breadcrumb{
		font-size: 0.9rem !important;
	}
}

@media(min-width:769px) and (max-width:1199px){
	.dashboard_title{
        padding-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: 2.5rem;
	}
    .Breadcrumb_con{
		padding-right: 10%;
	}
	.ant-breadcrumb{
		font-size: 1.1rem !important;
	}
}


/* @font-face {
	font-family: amp_sans;
	font-style: normal;
	font-weight: 300;
	src: url(assets/fonts/iran_sans_300.woff) format("woff");
}

@font-face {
	font-family: amp_sans;
	font-style: normal;
	font-weight: 400;
	src: url(assets/fonts/iran_sans_400.woff) format("woff");
}

@font-face {
	font-family: amp_sans;
	font-style: normal;
	font-weight: 500;
	src: url(assets/fonts/iran_sans_500.woff) format("woff");
}

@font-face {
	font-family: amp_sans;
	font-style: normal;
	font-weight: 700;
	src: url(assets/fonts/iran_sans_700.woff) format("woff");
}

@font-face {
	font-family: amp_sans;
	font-style: normal;
	font-weight: 900;
	src: url(assets/fonts/iran_sans_900.woff) format("woff");
} */